*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4b3832;
}

h1{
  text-align: center;
  color: #fff4e6;
  font-size: 3rem;
}

.container{
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7 - 20px);
  height: 90px;
  margin: 10px;
  color: #fff4e6;
  background-color: #854442;
  border-radius: 10px;
}

.fizz{
  background-color: #be9b7b;
}

.buzz{
  background-color: #a5784e;
}

.fizzbuzz{
  background-color: #be7b6a;
}